/*Five of the same style elemnts for all the pages*/
/*may need to get rid of section and just use div becasue section is used for headers and footers*/
/*nav(aka button design)*/
.header {
  background-color: black;
}

.nav {
  list-style-type: none;
}

a.button {
  background-color: RoyalBlue;
  padding: 1% 1%;
  text-align: center;
  font-size: 1em;
  border-radius: 1em 1em 0em 0em;
  color: white;
  float :left;
  margin-left: 2%;
}

a.button:hover {
  background-color: darkblue;
}

.header {
  align-content: center;
}

p, h1, h3, h4, h2, li, h5 {
  text-align: center;
}

.footer {
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.footer > p {
  color: white;
}

/*Five different styles for each pages*/
/*index*/
/* bottom and top borders and website font */
/*border-bottom-style: solid;, list-style-position: inside; - needs 3 more unique styles*/
#resume {
  font-family: 'Courier New', monospace;
}

.resume_content {
   border-bottom-style: solid;
   background-color: lightgrey;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 0.1%;
   margin-bottom: 1%;
}

ul.resume_list {
  list-style-position: inside;
}

/*trees*/
/*rounded borders for the images */
/*fixed width*/
/*font-style: normal;, margin-left: 5em;, border: 0.25em solid black;, needs 2  more unique stylization*/
#trees {
  font-family: "Playwrite GB S", cursive;
  font-weight: <weight>;
  font-style: normal;
}

#trees_content {
  margin-left: 15%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  background-color: lightgrey;
  position: center;
  border-radius: 1em;
  width: 70%  ;
}

.trees {
  margin: auto;
  border-radius: 1em;
  width: 92%;
  background-color: #8ccc89;
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: 1em;
}

.h3_trees {
 padding: 1%;
}

img.treesIMG {
  margin-left: 5em;
  width: 45%;
  border: 0.25em solid black;
  border-radius: 1em;
  margin: 1em;
}   

/*cat*/
/*with border weight on images*/
/*fluid layout- flex use percentage i guess*/
/*mobile first maybe */
/*display: block; height: auto; top: 0; bottom: 0; left: 0; right: 0; --- no need to add more unique styles*/
#cat {
  font-family: Garamond, serif;
  font-weight: bold;
}

#cat_intro {
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0%;
  background-color: RoyalBlue;
}

#cat_intro > h1, #cat_intro > p {
  color: white;
}

#cat_content > div {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: RoyalBlue;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

#cat_video {
  background-color: RoyalBlue;
}